{% extends "./layoutBlocks/layout.html" %} 

{% block title %}Luhrak - Not found{% endblock %} 

{% block content %}

    <main>
      <div class="widthConstraint">
        <section>
            <h1>500 Internal Server Error</h1>
            <p>Something went wrong on our end. Please go back.</p>
            <p>Here you can go back to the homepage:</p>
            <div>
              <a class="button" href="/"> Homepage </a>
            </div>
        </section>
      </div>
    </main>

{% endblock %}