{% extends "./layoutBlocks/layout.html" %}

{% block title %}Luhraks Prices{% endblock %}

{% block content %}
<main>
  <div class="widthConstraint">
    <h1>Commission Pricing</h1>

    <ul class="wideGallery">
      <li>
        <a href="/prices/add">
          <div>
            <img src="/img/NewPost.png" alt="Add new price">
          </div>
          <div>
            <h3>New Price</h3>
            <p>Add new entry</p>
          </div>
        </a>
      </li>

      {% for price in prices %}
        <li>
          <a href="/prices/{{ price.id }}">
            <div>
              <img src="{{ price.previewfile }}" alt="{{ price.title }}">
            </div>

            <div>
             <div class="prices">
              <h3>{{ price.title }}</h3>

              <p class="price-label" style="font-weight: 700; color: var(--color-primary);"> Description</p>
                <p class="price-description">
                  {{ price.description or '—' }}
                </p>

                <p class="price-label" style="font-weight: 700; color: var(--color-primary);"> Additions</p>
                <p class="price-additions">
                  {{ price.additions or '—' }}
                </p>
              </div>
            </div>
          </a>
        </li>
      {% else %}
        <li>No prices yet</li>
      {% endfor %}
    </ul>
  </div>
</main>
{% endblock %}
